@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #029edc;
  --color-primary-hover: #0286ba;
  --color-brand-black: #111111;
  --color-neutral-100: #F5F5F5;
  --color-neutral-200: #EAEAEA;
  --color-neutral-300: #D1D1D1;
  --color-neutral-500: #7A7A7A;
  --color-neutral-700: #3A3A3A;
  --color-neutral-900: #000000;

  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;

  --shadow-soft: 0 10px 40px rgba(0,0,0,0.08);
  
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;
}

body {
  font-family: var(--font-inter);
  background-color: #FFFFFF;
  color: var(--color-neutral-900);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}
